<div class="content">
  <div class="container">
    <form [formGroup]="angFormAddProject">
      <table>
        <tr>
          <td>
            <label for="AddProj_projName" i18n="@@lbl_AddProj_projName" id="lbl_AddProj_projName">Project:</label>
          </td>
          <td>
            <input type="text" class="form-control" id="AddProj_projName" formControlName="AddProj_projName" required [(ngModel)]="proj_Name"
              #AddProj_projName>
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">
            <input type="checkbox" (change)="dateFlagChanged($event)" i18n="@@AddProj_date_flag" formControlName="AddProj_date_flag"
              #AddProj_date_flag [checked]="isDateEntryEnabled">Set Start date and End date

          </td>
        </tr>
        <tr [hidden]="!isDateEntryEnabled">
          <td>
            <label for="AddProj_startdatelbl" i18n="@@lbl_AddProj_startdate" id="lbl_AddProj_startdate">Start Date</label>
          </td>
          <td>
            <input type="date" class="form-control" formControlName="AddProj_start_date" (blur)="compareTwoDates()" [(ngModel)]="proj_start_date"
              #AddProj_start_date>
          </td>
          <td></td>
        </tr>
        <tr [hidden]="!isDateEntryEnabled">
          <td>
            <label for="AddProj_enddatelbl" i18n="@@lbl_AddProj_enddate" id="lbl_AddProj_enddate">End Date</label>
          </td>
          <td>
            <input type="date" class="form-control" formControlName="AddProj_end_date" #AddProj_end_date (blur)="compareTwoDates()" #AddProj_end_date
              [(ngModel)]="proj_end_date" [disabled]="isDateEntryEnabled">
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="3">
            <div *ngIf="error.isError" i18n="@@AddProj_error" class="alert alert-danger">
              {{ error.errorMessage }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="AddProj_priority" i18n="@@lbl_AddProj_priority">Priority</label>
          </td>
          <td>
            <div class="slidecontainer">
              <input type="range" min="0" max="100" value="0" class="slider form-control" [(ngModel)]="proj_priority" #AddProj_priority
                formControlName="AddProj_priority">
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <label for="AddProj_manager" i18n="@@lbl_AddProj_manager">Manager:</label>
          </td>
          <td style="width:80%">
            <input type="text" [(ngModel)]="selectedUser.user_fname" disabled class="form-control" formControlName="Addproj_manager"
              #Addproj_manager required>
          </td>
          <td style="width:10%">
            <a i18n="@@AddProj_SearchUser" data-toggle="modal" data-target="#userModalDialog" class="btn btn-default" #AddProj_SearchUser>Search</a>
          </td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>
        <tr *ngIf="!updateMode">
          <td colspan="3">
            <input i18n="@@btn_addProj_addsubmit" class="btn btn-primary" type="button" value="Add Project" [hidden]="updateMode" [disabled]="error.isError || angFormAddProject.invalid"
              (click)="addproject(AddProj_projName.value,AddProj_priority.value,AddProj_start_date.value, AddProj_end_date.value,selectedUser._id)"> &nbsp;
            <input i18n="@@AddProj_Reset1" type="reset" class="btn btn-primary" value="Reset">
          </td>
        </tr>
        <tr *ngIf="updateMode">
          <td colspan="3">
            <input i18n="@@btn_addProj_updatesubmit" type="button" class="btn btn-primary" value="Update Project" [disabled]="error.isError || angFormAddProject.invalid"
              (click)="updateproject(AddProj_projName.value,AddProj_priority.value,AddProj_start_date.value, AddProj_end_date.value,selectedUser._id)"> &nbsp;
            <input i18n="@@AddProj_Reset2" type="reset" value="Reset" class="btn btn-primary">
          </td>
        </tr>
      </table>
      <hr item-width="100%">
      <div>
        <table>
          <tr>
            <td style="width: 100%" colspan="5">
              <input type="text" i18n="@@AddProj_Search_user" placeholder="Search..." class="form-control" id="txt_search" formControlName="txt_search"
                #txt_search>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <br>
            </td>
          </tr>
          <tr>
            <td>
              <label i18n="@lbl_AddProj_sortby" id="lbl_AddProj_sortby" style="text-align:right">Sort by: </label>
            </td>
            <td style="width: 10%">

              <input type="button" class="btn btn-default" i18n="@@btn_AddProj_sortby_sd" value="Start Date" (click)="sortdata('start_date')">
            </td>
            <td style="width: 10%">
              <input type="button" class="btn btn-default" i18n="@@btn_AddProj_sortby_ed" value="End Date" (click)="sortdata('end_date')">
            </td>

            <td style="width: 10%">
              <input type="button" class="btn btn-default" i18n="@@btn_AddProj_sortby_p" value="Priority" (click)="sortdata('priority')">
            </td>
            <td style="width: 10%">
              <input type="button" class="btn btn-default" i18n="@@btn_AddProj_sortby_comp" value="Completed" (click)="sortdata('projectended')">
            </td>
          </tr>
        </table>
      </div>

      <div>
        <hr item-width="100%" style="border-style: dotted">
        <div class="list-group" *ngFor="let project of projects | SearchProject : txt_search.value">
          <table class="list-group-item">
            <tr>
              <td style="width: 10%">
                <label i18n="@@lbl_AddProj_Project">Project</label>
              </td>
              <td colspan="3">
                <label class="form-control">{{project.Project_name}}</label>
              </td>
              <td style="width: 2%"></td>
              <td>
                <label i18n="row_AddProj_Priority">Priority</label>
              </td>
              <td style="width: 2%"></td>
              <td style="width: 10%">
                <input type="button" class="btn btn-default" value="Update" i18n="btn_AddProj_Update" (click)="editproject(project)">
              </td>
            </tr>
            <tr>
              <td>
                <label i18n="@@NoofTasks">Number of Tasks:</label>
              </td>
              <td>
                <input type="text" class="form-control" value="1" readonly>
              </td>
              <td>
                <label i18n="@@Completed">Completed:</label>
              </td>
              <td>
                <label class="form-control">{{project.projectended}}</label>
              </td>
              <td></td>
              <td>
                <label class="form-control">{{project.priority}}</label>
              </td>
              <td style="width: 2%"></td>
              <td>
                <input type="button" i18n="@@row_btn_Suspend" class="btn btn-default" value="Suspend" (click)="suspendProject(project._id)">
              </td>
            </tr>
            <tr>
              <td>
                <label i18n="@@starttaskdate">Start Date:</label>
              </td>
              <td>
                <label class="form-control">{{project.start_date}}</label>
              </td>
              <td>
                <label i18n="@@endtaskdate">End Date:</label>
              </td>
              <td>
                <label class="form-control">{{project.end_date}}</label>
              </td>
            </tr>

          </table>
        </div>

      </div>
    </form>

  </div>
</div>


<!--User Modal-->
<div id="userModalDialog" tabindex="-1" aria-labelledby="popup-title" aria-hidden="true" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select a user</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="angFormSearchUser">
          <div class="form-group">
            <input type="text" i18n="@@AddProject_txt_SearchUser" placeholder="Search..." class="form-control" id="txt_SearchUser" formControlName="txt_SearchUser"
              #txt_SearchUser>
            <br/>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let user of users | SearchUser : txt_SearchUser.value">
                <a id="userselection" (click)="userSelected(user)">{{user.user_empID}} - {{user.user_fname}} {{user.user_lname}}</a>
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>