<div class="content">
    <div class="container">
        <form [formGroup]="angFormAddTask">
            <table>
                <tr>
                    <td>
                        <label for="proj" i18n="@@AddTask_Project" id="proj">Project</label>
                    </td>
                    <td style="width:80%">
                        <input type="text" disabled class="form-control" id="projname" formControlName="AddTask_txt_projname" required #AddTask_txt_projname
                         [(ngModel)]="selectedProject.Project_name"   >
                    </td>
                    <td>
                        <a i18n="@@AddTask_SearchProj" data-toggle="modal" data-target="#projectModalDialog" class="btn btn-default" #AddTask_SearchProj>Search</a>

                    </td>
                </tr>
              
                <tr>
                    <td>

                        <label i18n="@@AddTask_task_name" id="AddTask_task_name">Task</label>


                    </td>
                    <td>

                        <input type="text" class="form-control" id="AddTask_txt_task_name" formControlName="AddTask_txt_task_name" required #AddTask_txt_task_name
                          >

                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox"  (change)="parentFlagChanged($event)" i18n="@@AddTask_ParentFlag" >Parent Task
                    </td>
                    <td></td>

                </tr>
               
                <tr>
                    <td>
                        <label for="AddTask_priority" i18n="@@AddTask_lbl_priority">Priority</label>
                    </td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="0" max="100" value="30" class="slider form-control" #AddTask_priority formControlName="AddTask_priority">
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr [hidden]="!parentVisible">
                    <td>
                        <label for="parenttask" i18n="@@AddTask_lbl_parent_task_name">Select Parent Task</label>
                    </td>
                    <td>
                        <select class="form-control" formControlName="AddTask_parent_task_name" #AddTask_parent_task_name>
                            <option [value]="selectUndefinedOptionValue" i18n="@@AddTask_selectoption">-- select --</option>
                            <option *ngFor="let task of tasks">{{task.task_name}}</option>
                        </select>
                    </td>
                    <td></td>

                </tr>
                <tr>
                    <td>
                        <label for="AddTask_txt_start_date" i18n="@@AddTask_lbl_start_date">Start Date </label>
                    </td>
                    <td>
                        <input type="date" class="form-control" formControlName="AddTask_txt_start_date" #AddTask_txt_start_date required (blur)="compareTwoDates()">
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td>
                        <label for="enddate" i18n="@@AddTask_lbl_end_date">End Date</label>
                    </td>
                    <td>
                        <input type="date" class="form-control" formControlName="AddTask_txt_end_date" #AddTask_txt_end_date required (blur)="compareTwoDates()">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div *ngIf="error.isError" i18n="@@AddTask_error" class="alert alert-danger">
                            {{ error.errorMessage }}
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <label for="user" i18n="@@AddTask_lbl_user">User</label>
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="selectedUser.user_fname"  disabled class="form-control" formControlName="AddTask_txt_user" #AddTask_txt_user required>
                    </td>
                    <td>
                            <a i18n="@@AddTask_SearchUser" data-toggle="modal" data-target="#userModalDialog" class="btn btn-default" #AddTask_SearchUser>Search</a>
                    </td>

                </tr>
                
                <tr>
                    <td colspan="3">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn btn-primary" i18n="@@AddTask_btn_Addtask" type="submit" value="Add Task" [disabled]="error.isError || angFormAddTask.invalid"
                            (click)="addtask(selectedProject._id, AddTask_txt_task_name.value,AddTask_parent_task_name.value,AddTask_txt_start_date.value,AddTask_txt_end_date.value, AddTask_priority.value, selectedUser._id)"> &nbsp;
                    </td>
                    <td>

                        <input class="btn btn-primary" i18n="@@AddTask_btn_Reset" type="reset" value="Reset" (click)="reset()">
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>

    </div>
</div>



<!--Project Modal-->
<div id="projectModalDialog" tabindex="-1" aria-labelledby="popup-title" aria-hidden="true" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select a project</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let project of projects">
                        <a (click)="projectSelected(project)">{{project.Project_name}}</a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<!--User Modal-->
<div id="userModalDialog" tabindex="-1" aria-labelledby="popup-title" aria-hidden="true" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select a user</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let user of users">
                            <a id="userselection" (click)="userSelected(user)">{{user.user_empID}} - {{user.user_fname}} {{user.user_lname}}</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    
        </div>
    </div>