<div class="content">
    <div class="container">
        <div class="row">
            <form [formGroup]="angFormViewTask">
                <table>
                    <tr>
                        <td>
                            <label i18n="@lbl_ViewTask_Project" id="lbl_ViewTask_Project" style="text-align:right">Project: </label>
                        </td>
                        <td style="width:50%">
                            <input type="text" disabled class="form-control" id="ViewTask_txt_projname" formControlName="ViewTask_txt_projname" required
                                #ViewTask_txt_projname (blur)="ValidateTaskName(ViewTask_txt_projname.value)">
                        </td>
                        <td >
                            <input type="button" i18n="@@ViewTask_SearchProj" class="btn btn-default" value="Search" #ViewTask_SearchProj>
                        </td>
                        <td style="width:10%">
                            <label i18n="@lbl_ViewTask_sortby" id="lbl_ViewTask_sortby" style="text-align:right">Sort by: </label>
                        </td>
                        <td>

                            <input  type="button" class="btn btn-default"  i18n="@@btn_ViewTask_sortby_sd" value="Start Date">
                        </td>
                        <td>
                            <input  type="button" class="btn btn-default" i18n="@@btn_ViewTask_sortby_ed" value="End Date">
                        </td>

                        <td>
                            <input  type="button" class="btn btn-default"  i18n="@@btn_ViewTask_sortby_p" value="Priority">
                        </td>
                        <td>
                            <input  type="button" class="btn btn-default"  i18n="@@btn_ViewTask_sortby_comp" value="Completed">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <hr/>
        <div class="row">
            <div class="tabular-content alt-content">
                <table class="table table-striped alt-table">
                    <thead>
                        <tr>
                            <th scope="col" i18n="@@ViewTask_taskname">Task</th>
                            <th scope="col" i18n="@@ViewTask_taskpname">Parent</th>
                            <th scope="col" i18n="@@ViewTask_taskpriority">Priority</th>
                            <th scope="col" i18n="@@ViewTask_tasksdate">Start</th>
                            <th scope="col" i18n="@@ViewTask_taskedate">End</th>
                            <th scope="col" i18n="@@ViewTask_taskedit">Edit</th>
                            <th scope="col" i18n="@@ViewTask_taskend">End Task</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let task of tasks | SearchTask : task_name : parent_task_name : priorityFrom : priorityTo: startDate: endDate">
                            <td scope="col">{{task.task_name}}</td>
                            <td scope="col">{{task.parent_task_name}}</td>
                            <td scope="col">{{task.priority}}</td>
                            <td scope="col">{{task.start_date}}</td>
                            <td scope="col">{{task.end_date}}</td>
                            <td scope="col">
                                <a class="btn btn-primary" i18n="@@ViewTask_taskeditbtn" id="edit" [routerLink]="['/editTask', task._id]" [class.disabled]="task.taskended">Edit</a>
                            </td>
                            <td scope="col">
                                <a class="btn btn-primary" i18n="@@ViewTask_taskendbtn" id="end" (click)="endTask(task._id)" [class.disabled]="task.taskended">End</a>
                            </td>
                           
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>