<div class="content">
  <div class="container">
    <form [formGroup]="angFormAddUser">
      <div class="form-group">
        <label for="txt_first_name" i18n="@@AddUser_first_name" id="lbl_first_name">First Name</label>
        <input type="text" class="form-control" id="txt_first_name" formControlName="txt_first_name" required #txt_first_name (blur)="ValidateUser(txt_first_name.value)">
        <div *ngIf="userValErr" i18n="@@AddUser_fnameerror" class="alert alert-danger">
          First Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="txt_last_name" i18n="@@AddUser_last_name" id="lbl_last_name">Last Name</label>
        <input type="text" class="form-control" id="txt_last_name" formControlName="txt_last_name" required #txt_last_name (blur)="ValidateUser(txt_last_name.value)">
        <div *ngIf="userValErr" i18n="@@AddUser_lnameerror" class="alert alert-danger">
          Last Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="txt_emp_id" i18n="@AddUser_emp_id" id="lbl_emp_id">Employee ID</label>
        <input type="text" class="form-control" id="txt_emp_id" formControlName="txt_emp_id" required #txt_emp_id (blur)="ValidateUser(txt_emp_id.value)">
        <div *ngIf="userValErr" i18n="@@AddUser_empidrror" class="alert alert-danger">
          Emp ID is required.
        </div>
      </div>
      <input class="btn btn-primary" i18n="@@AddUser_Add_user" type="submit" value="Add User" [disabled]="error.isError || angFormAddUser.invalid"
        (click)="adduser(txt_first_name.value,txt_last_name.value,txt_emp_id.value)"> &nbsp;
      <input class="btn btn-primary" i18n="@@AddUser_Reset_user" type="reset" value="Reset" (click)="reset()">
      <hr item-width="100%">

      <div>
        <table>
          <tr>
            <td style="width: 50%">
              <input type="text" i18n="@@AddUser_Search_user" placeholder="Search..."   class="form-control" id="txt_search" formControlName="txt_search"
                #txt_search>
            </td>
            <td style="width: 10%">
            </td>
            <td>
              <label i18n="@@AddUser_lbl_sort" id="lbl_sort" style="text-align:right">Sort: </label>
            </td>
            <td style="width: 10%">

              <input class="btn btn-default" i18n="@@AddUser_sort_by_fn" value="First Name">
            </td>
            <td style="width: 10%">
              <input class="btn btn-default" i18n="@@AddUser_sort_by_ln" value="Last Name">
            </td>
            <td style="width: 10%">
              <input class="btn btn-default" i18n="@@AddUser_sort_by_empid" value="ID">
            </td>
          </tr>
        </table>
      </div>
      <hr item-width="100%" style="border-style: dotted">
      <div class="list-group" *ngFor="let user of users | SearchUser : txt_search.value">
        <table class="list-group-item">
          <tr>
            <td style="width: 80%">
              <label class="form-control">{{user.user_fname}}</label>
            </td>
            <td>
              <input class="btn btn-default" i18n="@@edit_user" value="Edit">
            </td>
          </tr>
          <tr>
            <td>
              <label class="form-control">{{user.user_lname}}</label>
            </td>
            <td>
              <input class="btn btn-default" i18n="@@delete_user" value="Delete">
            </td>
          </tr>
          <tr>
            <td>
              <label class="form-control">{{user.user_empID}}</label>
            </td>
            <td></td>
          </tr>
        </table>
      </div>



    </form>

  </div>
</div>